@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-ExtraBold") format("ttf");
}
@font-face {
    font-family: "PT Sans";
    src: url("../font/PT/PTSans-Bold.ttf") format("ttf");
}