*{
    padding:0;
    margin:0;
}
a {text-decoration:none !important; }
#contact_header { background:#F1F1F1; }
#contact_header a{ text-decoration:none; color:#3399cc !important; }
#contact_header .tel { color:#636363; font-size:11px; line-height:21px; }
#contact_header .tel i{ line-height:14px; }
#contact_header .tel .fa-phone{ color:#636363; font-size:14px; }
#contact_header .tel .num{ color:#636363; font-size:14px; line-height:21px; font-weight:bold; }
#contact_header .mail{ color:#3399cc; font-size:14px; line-height:21px; }
#contact_header .mail i{ color:#636363; font-size:14px; line-height:14px; }
#contact_header .connect{ color:#3399cc; font-size:14px; line-height:21px; }

#header_block .links .account { background:#4AACD1; cursor:pointer; transition: background 0.1s ease; }
#header_block .links .account { background:#4AACD1; cursor:pointer; transition: background 0.1s ease; }
#header_block .links .litle-account { background:#4AACD1; cursor:pointer; transition: background 0.1s ease; }
#header_block .links .litle-account:hover { background:#5CD0FC;  }
#header_block .links .golden_book { background:#F8D100; cursor:pointer; transition: background 0.1s ease; font-size:14px; }
#header_block .links .golden_book:hover { background:#FFDF33; cursor:pointer; }
#header_block .links .shopping_basket { background:#96B73D; cursor:pointer; transition: background 0.1s ease; }
#header_block .links .shopping_basket:hover { background:#9FC142; cursor:pointer; }
.link-list-account { border:1px solid #B3B3B3; background:white; border-radius:3px; width:160px; box-shadow: 1px 1px 10px black; margin-top:10px; margin-left:-8px; z-index:1000; }
.link-list-account li{ padding:5px 0; transition:background 0.1s ease; }
.link-list-account li:hover{ background:#F1F1F1; }
.link-list-account li a { color: #29AEE0; text-decoration:none; }
.input-search { border:1px solid #C6C6C6; transition: box-shadow 0.1s ease; }
.input-search input{ outline:none; border:none; padding:5px;  }
.input-search i{ outline:none; border:none; padding:5px 10px 5px 5px; cursor:pointer; color:#B8B8B8; font-weight:bold; text-align:end; }
.img-compagnie:hover { opacity:0.8; }
#panier { margin-top:3px; border: 1px solid #B3B3B3; border-radius:3px; }
#panier .subtitle{ font-size:12px; color:#296D89; font-weight:bold; }

nav { background:#29AEE0; }
nav .menu-item { cursor:pointer; transition:background 0.1s ease; margin:0 1px 0 0; }
nav .menu-item.light { background: #3992C5;}
nav .menu-item.red{ background: #E1571A; }
nav .menu-item.red:hover{ background: #EE5C1C; }
nav .menu-item.bold{ background: #296D89; }
nav .menu-item.light:hover { background: #296D89;}
nav .menu-item i{ font-size:25px; }
nav .menu-item div{ font-size:14px; }

.bloc-menu { border: 5px solid #296D89; z-index:1000; background:white; }
.bloc-menu .list-menu.first { background: #F0F0F0; }
.bloc-menu .menu-subtitle a{ color: #3992C5; transition:color 0.25s ease; font-size: 14px; }
.bloc-menu .menu-subtitle a:hover{ color: #616161; }
.bloc-menu li { font-size:14px; height:30px; padding-top:5px;  line-height:auto;  }
.bloc-menu li:hover { font-size:12px; color:#8A8A8A; background: #29AEE0; }
.bloc-menu li a{ font-size:12px; height:30px; color:#8A8A8A; line-height:auto; }
.bloc-menu li a:hover{ font-size:12px; height:25px; color:white;  }
.bloc-menu .bg-menu { background: #296D89; border:2px solid white; height:auto; }

.bloc-infos { background: #EAEAEA; height:100%; }
.bloc-infos .sous-bloc .row { border: 1px solid #DCDCDC; background:white; transition:border 0.1s ease; min-height:160px; margin-top:20px; margin-bottom:20px; }
.bloc-infos .sous-bloc .row:hover { border: 1px solid #78B4E3; }
.bloc-infos .sous-bloc .row img{ max-width:150px; max-height:150px; }
.bloc-infos .sous-bloc .row .inside { height:100%;  }
.bloc-infos .sous-bloc .row .inside .title{ color: #F15A08; font-weight:bold; font-size:17px; }
.bloc-infos .sous-bloc .row .inside .subtitle{ color: #45AEE0; font-weight:bold; font-size:15px; font-style: italic; line-height:12px; }
.bloc-infos .sous-bloc .row .inside .content{ color:#919191; line-height:17px; }
.bloc-infos .sous-bloc .row .inside a{ background:#45AEE0; margin-bottom:250px; padding:7px 15px 7px 15px; color:white; font-style: italic; cursor:pointer; bottom:10px; transition: background 0.1s ease; }
.bloc-infos .sous-bloc .row .inside a:hover{ background:#0A6794; }

@media screen and (min-width: 1400px){
  .input-search{ width:80%; }
  #links div {  font-size:15px;  }
}
@media screen and (max-width: 1200px){
  .input-search{ width:80%; }
  #links div {  font-size:15px;  }
  .bloc-infos .sous-bloc .row img{ max-width:100px; max-height:100px; }
}
@media screen and (max-width: 990px) {
  .input-search{ width:90%; }
  .bloc-infos .sous-bloc .row { min-height:300px; }
}
@media screen and (max-width: 770px){
  html, body, .container { padding:0 !important; margin:0 !important; }
  .bloc-infos .sous-bloc .row { min-height:150px; margin:5px; }
  .bloc-infos .sous-bloc .row img{ max-width:170px; max-height:170px; }
  .bloc-infos { width:100% !important; }
}
@media screen and (max-width: 580px){
  .bloc-infos .sous-bloc .row { min-height:340px; }
}