#contact_header { background:#F1F1F1; }
#contact_header a{ text-decoration:none; color:#3399cc !important; }

    #contact_header .tel { color:#636363; font-size:11px; line-height:21px; }
    #contact_header .tel i{ line-height:14px; }
    #contact_header .tel .fa-phone{ color:#636363; font-size:14px; }
    #contact_header .tel .num{ color:#636363; font-size:14px; line-height:21px; font-weight:bold; }

    #contact_header .mail{ color:#3399cc; font-size:14px; line-height:21px; }
    #contact_header .mail i{ color:#636363; font-size:14px; line-height:14px; }

    #contact_header .connect{ color:#3399cc; font-size:14px; line-height:21px; }